.graph-wrapper {
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 5%;
    height: max-content;
    width: 90%;
    padding-top: 20px;
    background-color: #f0f0f0;
}
.graph-head {
    position: absolute;
    height: min-content;
    width: 100%;
    top: 0px;
    background: #ced6f1;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    text-align: center;
    z-index: -1;
}

.graph-body {
    position: relative;
    height: fit-content;
    vertical-align: top;
    padding: 1% 1% 1% 1%
}

.table-wrapper {
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 1%;
    position: relative;
    padding-top: 25px;
    background-color: #f0f0f0;
}

.table-head {
    position: absolute;
    min-height: 6%;
    min-width: 100%;
    top: 0px;
    background: #ced6f1;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    text-align: center;
    z-index: -1;
}

.table-body {
    font-size: 14px;
    height: fit-content;
    vertical-align: top;
    padding: 1% 1% 1% 1%;
}


.weekly-update-container {
    margin: 20px auto;
    width: fit-content;
    height:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    column-gap: 20px;
    row-gap: 15px;
}

.box {
    width: 190px;
    min-height: 200px;
    position: relative;
    background-color: #f0f0f0;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.box span {
    font-size: 13px;
    z-index: 2;
    padding-top: 5%;
}

.box-head {
    position: absolute;
    min-height: 19%;
    padding: 0px;
    width: 100%;
    top: 0px;
    background: #ced6f1;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    text-align: center;
}

.box-body {
    display:flex; 
    flex-direction:column;
    margin-top: 20%;
}

.weekly-table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.weekly-table td{
    text-align: start;
    padding-right: 10px;
}