.navigation li {
    padding: 5px 15px;
}

.navigation a:hover {
    color: red;
}

.navigation {
    color: black;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    width: 100%;
}

.navigation a {
    color: black;
}

.navigation ul {
    margin-top: 0;
    box-sizing: border-box;
    background: #ced6f1;
    border-radius: 0px 0px 5px 5px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
