<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Walt Adamson" />
    <meta name="description" content="Visualisations of COVID-19 statistics across Africa" />

    <title>
        {% block title_block %}
            Africa Tracker
        {% endblock %}
    </title>

    <!-- scale web-page to client device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KSNRX24');</script>
    <!-- End Google Tag Manager -->

    <!-- Open Graph protocol integration -->
    <meta property="og:title" content="COVID-19 Africa Tracker" />
    <meta property="og:image" content="{% static 'assets/splash.webp' %}" />
    <meta property="og:type" content="website" />

    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml" />

    <!-- load stylesheets -->
    <link rel="stylesheet" href="{% static 'style/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'style/global.css' %}" />
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/dataTables.bootstrap5.min.css' %}">

    <!-- load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" crossorigin />

    <!-- load scripts -->
    <script src="{% static 'javascript/plotly.js' %}"></script>
    <script src="{% static 'javascript/highcharts.js' %}"></script>
    <script src="{% static 'javascript/highcharts-no-data-to-display.js' %}"></script>
    <script src="{% static 'javascript/highcharts-more.js' %}"></script>
    <script src="{% static 'javascript/highcharts-maps-modules.js' %}"></script>
    <script src="{% static 'javascript/highcharts-africa.js' %}"></script>
    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'javascript/dataTables.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSNRX24"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navigation">
        <ul>
            <li><a href="#top">Top of Page</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#about-project">About Us</a></li>
            <li><a href="https://ourworldindata.org/coronavirus">Sources</a></li>
            <li id=last-updated-field>Last Updated: pending</li>
        </ul>
    </nav>
    <main id="top">
        {% block body_block %}

        {% endblock %}
    </main>

    <script>
    fetch("{% url 'dashboard:get_last_update' %}", {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default',
    }).then((response) => {
        if (response.ok) {
            response.text().then((update) => {
                document.getElementById('last-updated-field').innerText = "Last Update: " + update;
            });
        } else {
            document.getElementById('last-updated-field').innerText = "Last Update: Failed to get date.";
        }
    });
    </script>

 <footer>
    <div class="footer-wrapper">
        <div id="about-project">
            <h4>About the project</h4>
            <p>This is a project created by team CS21 at University of Glasgow, in collaboration with Walt 
                Adamson, researcher at Institute of Biodiversity, Animal Health & Comparative Medicine.
            <br /><br />
            This website aims to give accurate COVID-19 data for Africa. All the data used 
            in the visualisations is gathered from Our World in Data.</p>
        </div>

        <div id="contact-info">
            <h4>Get in Touch</h4>
            <p>Have any feedback on the website? Or questions about it? Reach out!</p>
            <h6>Walt Adamson</h6>
            <ul class="contact-details">
                <li>Researcher at University of Glasgow</li>
                <li>Email: walt.adamson@glasgow.ac.uk</li>
                <!--Add more details here-->
            </ul>
        </div>
        <div id="faq">
            <h4>FAQs (Coming soon)</h4>
            <div class="alert alert-secondary">
                FAQ 1 - *FAQ HERE*
            </div>
            <div class="alert alert-secondary">
                FAQ 2 - *FAQ HERE*
            </div>
            <div class="alert alert-secondary">
                FAQ 3 - *FAQ HERE*
            </div>
        </div> 
    </div>
</footer>
</body>
</html>
