{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    COVID-19 Africa Dashboard
{% endblock %}

{% block body_block %}
<article>
<iframe src="https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&facet=none&pickerSort=asc&pickerMetric=location&Metric=People+vaccinated+%28by+dose%29&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=NGA~TZA~ZAF~DZA~AGO~BEN~BWA~BFA~BDI~COD~CMR~CAF~TCD~COM~COG~DJI~EGY~GNQ~SWZ~ETH~GAB~GMB~GHA~GIN~GNB~KEN&hideControls=true" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
</article>

<article>
<iframe src="https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&uniformYAxis=0&pickerSort=asc&pickerMetric=location&Metric=Cases%2C+tests%2C+positive+and+reproduction+rate&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=NGA~TZA~ZAF~DZA~AGO~BEN~BWA~BFA~BDI~COD~CMR~CAF~TCD~COM~COG~DJI~EGY~GNQ~SWZ~ETH~GAB~GMB~GHA~GIN~GNB~KEN&hideControls=true" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
</article>

<script>
    let dataRequest = new Request('{% url 'dashboard:get_covid_data' %}');
    const request = fetch(dataRequest, {
            method: 'GET',
            mode: 'same-origin',
            cache: 'default'
        }).then((response) => {
            if (response.ok) {
                response.json().then((content) => {
                    console.log(content);
                });
            } else {
                console.log("Unable to request data.");
            }
        }
    );
</script>

{% endblock %}
