{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    COVID-19 Africa Dashboard
{% endblock %}

{% block body_block %}

<div id="interactive-map" class="graph-wrapper">
    <div class="graph-head">Weekly Increase by African Country</div>
    <div class="graph-body">
        <article id="choropleth" class="graph"></article>
    </div>
</div>

<div id="top-increases" class="weekly-update-container">
    <div class="box">
      <div class="box-head">Largest Case Increase This Week</div>
      <div class="box-body">
          <table id="case-table" class="weekly-table">

          </table>
      </div>
    </div>
    <div class="box">
      <div class="box-head">Most Vaccinations Given This Week</div>
      <div class="box-body">
        <table id="vacc-table" class="weekly-table">

        </table>
      </div>
    </div>
    <div class="box">
      <div class="box-head">Most Deaths This Week</div>
      <div class="box-body">
        <table id="death-table" class="weekly-table">

        </table>
      </div>
    </div>
</div>

<div id="data-table" class="table-wrapper">
    <div class="table-head">Summary Table (per 100k)</div>
    <div class="table-body">
        <table id="all-countries-table" class="table table-striped"></table>
    </div>
</div>

<div id="cases-linegraph" class="graph-wrapper">
    <div class="graph-head">Average Number of New Cases per Week</div>
    <div class="graph-body">
        <article id="average-cases" class="graph"></article>
    </div>
</div>

<div id="vaccination-coverage" class="graph-wrapper">
    <div class="graph-head">Vaccination Coverage by Country</div>
    <div class="graph-body">
        <article id="countries-vaccinations" class="graph"></article>
    </div>
</div>

<div id="weekly-vaccines" class="graph-wrapper">
    <div class="graph-head">Number of New Vaccinations per Week (per 100k)</div>
    <div class="graph-body">
        <div class="dropdown-button">
            Use drop-down menu to view a country's administered vaccinations:
            <select class="countryChoice"></select>
        </div>
        <article id="country-new-vaccinations" class="graph"></article>
    </div>
</div>

<script>
let mapRequest = new Request("{% url 'dashboard:get_map_data' %}");
const request_mapData = fetch(mapRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                draw_map(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

let summarydataRequest = new Request('{% url 'dashboard:get_summary_data' %}');
const summaryRequest = fetch(summarydataRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                create_summary_table(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

let weeklyMaxRequest = new Request('{% url 'dashboard:get_weekly_maxs' %}');
const request_weeklyMax = fetch(weeklyMaxRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                insert_weekly_maxs(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

let weeklyCasesRequest = new Request('{% url 'dashboard:get_covid_data' %}');
const request_weeklyCases = fetch(weeklyCasesRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                draw_average_cases(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

let vaccineDataRequest = new Request("{% url 'dashboard:get_vaccinated_percentage' %}");
const vaccine_request = fetch(vaccineDataRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                draw_countries_vaccinations(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

let weeklyVaccinationDataRequest = new Request("{% url 'dashboard:get_new_vaccinated_data' %}");
const weekly_vaccine_request = fetch(weeklyVaccinationDataRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                draw_country_new_vaccinations(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);
</script>

{% endblock %}
