{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    COVID-19 Africa Dashboard
{% endblock %}

{% block body_block %}
<article id="choropleth" class="graph">

</article>

<table id="all-countries-table" class="table table-striped display">

</table>


<article id="average-cases" class="graph">

</article>

<script>

let dataRequest2 = new Request('{% url 'dashboard:get_summary_data' %}');
const request2 = fetch(dataRequest2, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                create_summary_table(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);



function create_summary_table(summaryContent) {
    var dataset = summaryContent;
    $(document).ready(function() {
        $('#all-countries-table').DataTable( {
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false,
            "data": dataset,
            "columns": [
                { "title": "Country" },
                { "title": "Cases" },
                { "title": "New Cases" },
                { "title": "Deaths" },
                { "title": "New Deaths" },
                { "title": "Vaccinated" },
                { "title": "New Vaccinations" },
            ]
        } );
    } );
}

let dataRequest = new Request('{% url 'dashboard:get_covid_data' %}');
const request = fetch(dataRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                draw_average_cases(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

function draw_average_cases(content) {
    var location_cases = {};
    var dates = [];
    var last_date = undefined;

    content.forEach((row) => {
        var location_ = row[0];
        var datestamp = row[1];
        var n_cases = row[2];

        var cur_location = location_cases[location_];
        if (cur_location === undefined) {
            location_cases[location_] = {
                name: location_,
                data: [n_cases],
            };
        } else {
            cur_location.data.push(n_cases);
        }

        if (datestamp != last_date) {
            last_date = datestamp;
            dates.push(datestamp);
        }
    });

    Highcharts.chart('average-cases', {
        title: {
            text: 'Average Number of New Cases per Week',
        },
        chart: {
            height: 600,
        },
        xAxis: {
            categories: dates,
            type: 'datetime',
            labels: {
                format: '{value:%Y-%m-%d}',
            },
        },
        yAxis: {
            title: {
                text: 'Number of New Cases',
            },
            min: 0,
        },
        tooltip: {
            formatter: function () {
                return this.x + '<br>' + this.series.name +
                        ': <b>' + this.y.toLocaleString() + '</b> cases</br>';
            },
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false,
                }
            }
        },
        legend: {
            title: 'Location',
            align: 'right',
        },
        series: Object.values(location_cases),
    });
}
</script>

{% endblock %}
